<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=480, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste Roger</title>
</head>

<!-- inicio do bloco "enchimento de linguica--> 
<body>
    {% load static %}
    <h1>Lista de questões</h1>
    <p>
    {% if qst_list %}
    <ul>
      {% for qst in qst_list %}
        <li>
          <a href="{% url 'questions:qid' qst.id %}">{{ qst.question_text }}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Banco de dados de questões está vazio.</p>
    {% endif %}
    </p>
</body>
<!-- final do bloco "enchimento de linguica--> 
</html>