<!DOCTYPE html>
<html>
    <head>
        <title>Projeto - Coordenador</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="estilo.css" />

    </head>

    <body>
        <header>
            <a href="index.html"><img src="logo_ifpb.png" width="40" alt="Logo da Instituição" title="Voltar"><p>Voltar</p></a>
            <h1>Menu do Coordenador</h1>
            <nav>
                <ul>
                    <li><a href="#">Listar questões</a></li>
                    <li><a href="#">Cadastrar disciplinas</a></li>
                    <li><a href="#">Cadastrar professor à disciplina</a></li>
                    <li><a href="#">Atribuir avaliadores para as novas questões</a></li>
                    <li><a href="#">Option 5</a></li>
                </ul>
            </nav>
        </header>
    </body>

</html>