<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

{% if user.is_authenticated %}
  Olá {{ user.username }}!<br>
  O que deseja fazer?<br>
  <opt>
    <a href="{% url 'logout' %}">Cadastrar questões</a><br>
    <a href="http://127.0.0.1:8000/questions/questions/">Minhas questões</a><br>
    <a href="{% url 'logout' %}">Criar exames</a><br>
    <a href="{% url 'logout' %}">Exames e gabaritos</a><br>
    <a href="{% url 'logout' %}">Avaliar questões</a><br>
  </opt>
  
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <!--<a href="{% url 'login' %}">login</a>-->
  <a href="{% url 'login' %}?next={{ '/questions/' }}">Login</a>
{% endif %}



<!--<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Projeto OO!</h1>
      <p class="lead">Prof.: Drª. Alana.</p>
      <p>Alunos:</p>
      <p>Leonardo e Roger</p>
    </div>
  </div>
</div>
-->

{% endblock %}
