<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

{% if user.is_authenticated %}
  Olá {{ user.username }}!<br>
  O que deseja fazer?<br>
  <opt>
    <!--
    {-% autoescape off %}{{ menu }}{% endautoescape %-} 
    -->
  </opt>
  <p><a href="{% url 'questions:all' %}">Iniciar a operação</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <!--<a href="{% url 'login' %}">login</a>-->
  <a href="{% url 'login' %}?next={{ '/questions/' }}">Login</a>
{% endif %}



<!--<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Projeto OO!</h1>
      <p class="lead">Prof.: Drª. Alana.</p>
      <p>Alunos:</p>
      <p>Leonardo e Roger</p>
    </div>
  </div>
</div>
-->

{% endblock %}
