

<!DOCTYPE html>
<html>
    <head>
        <title>Projeto - Professor</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="estilo.css" />

    </head>

    <body>
        <header>
            <a href="index.html"><img src="logo_ifpb.png" width="40" alt="Logo da Instituição" title="Voltar"><p>Voltar</p></a>
            <h1>Menu do Professor</h1>
            <nav>
                <ul>
                    <li><a href="#">Cadastrar questão</a></li>
                    <li><a href="#">Minhas questões</a></li>
                    <li><a href="#">Gerar exercício ou prova</a></li>
                    <li><a href="#">Acessar provas anteriores e gabaritos</a></li>
                    <li><a href="#">Avaliar questões de Professores</a></li>
                </ul>
            </nav>
        </header>
    </body>

</html>