#Ajustes para edição na WEB-IDE do próprio repositório
#https://git-scm.com/docs/gitattributes Reference to attributes(roger)
root=true
end_of_line=CRLF
insert_final_newline=true

[*.{ps1,psm1,psd1,ps1xml,c,cpp,h,hpp,rc,java,bat,cmd}]
#https://en.wikipedia.org/wiki/Windows-1252 implica em maior compatibilidade das codificações
#https://editorconfig.org/ restringe possibilidade para latin1
#não funcional charset=cp1252
#não funcional charset=windows-1252
#não funcional charset=windows1252
charset=iso-8859-1
tab_width=4
indent_size=4

#Em testes para edição via web
[*.{txt,todo}]
charset=iso-8859-1
tab_width=8
indent_size=8

[*.{js,py}]
charset=utf-8
tab_width=4
indent_size=4


