            <h1>QFactory: Trabalho curso OOP/DS - Prof. Alana</h1>
            <form action="" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="1Ig3WV1cQUBrTA0T2htiGXyuBQ1XlbZhlmKzTjQBwtPQ02zamq2CjmAUziMcqqHf">
                <div class="form-row">
                    
                    <label for="id_username" class="required">Usuário:</label>
                    <input type="text" name="username" autofocus="autofocus" required="required" id="id_username" maxlength="254">
                </div>
                <div class="form-row">
                    
                    <label for="id_password" class="required">Senha:</label>
                    <input type="password" name="password" required="required" id="id_password">
                    <input type="hidden" name="this_is_the_login_form" value="1">
                    <input type="hidden" name="next" value="">
                </div>
                <div class="form-row">
                    

                    <div style="display: flex;justify-content: center; margin-top:10px;">
                        
                    </div>
                </div>

                <div class="submit-row">
                    <input type="submit" value="Acessar">
                </div>
                <div class="form-row">
                    <a href="/comum/solicitar_trocar_senha/">Esqueceu sua senha?</a>
                    <a href="/comum/solicitar_trocar_senha/">Deseja alterar sua senha?</a>
                </div>
            </form>
        